*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Livvic', sans-serif;
}

.main {
    width: 100%;
}

.container {
    padding: 0 15px;
    width: 1140px;
    margin: 0 auto;
}