.brand__container {
    width: 1140px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 60px;
}

.brand__box {
    width: 500px;
}

.brand__text {
    width: 100%;
    padding-left: 35px;
    font-size: 16px;
    line-height: 26px;
    color: rgb(107, 109, 109);
    position: relative;
    margin-bottom: 55px;

    &::before {
        content: '';
        width: 2px;
        height: 100%;
        background-color: rgb(107, 109, 109);
        position: absolute;
        left: 0;
        top: 0;
    }
}

.brand__link {
    text-decoration: none;
    color: white;
    width: 150px;
    padding: 12px 30px;
    background-color: #E6605B;
    
    &:hover {
        background-color: rgb(214, 70, 70);
    }
}

.brand__title {
    padding: 0;
    margin: 0;
    font-size: 46px;
    line-height: 46px;
    margin-bottom: 40px;
}